@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    background: rgba(24,56,66,1);
    background: -moz-linear-gradient(left, rgba(24,56,66,1) 0%, rgba(55,77,85,1) 50%, rgba(95,102,110,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(24,56,66,1)), color-stop(50%, rgba(55,77,85,1)), color-stop(100%, rgba(95,102,110,1)));
    background: -webkit-linear-gradient(left, rgba(24,56,66,1) 0%, rgba(55,77,85,1) 50%, rgba(95,102,110,1) 100%);
    background: -o-linear-gradient(left, rgba(24,56,66,1) 0%, rgba(55,77,85,1) 50%, rgba(95,102,110,1) 100%);
    background: -ms-linear-gradient(left, rgba(24,56,66,1) 0%, rgba(55,77,85,1) 50%, rgba(95,102,110,1) 100%);
    background: linear-gradient(to right, rgba(24,56,66,1) 0%, rgba(55,77,85,1) 50%, rgba(95,102,110,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183842', endColorstr='#5f666e', GradientType=1 );


    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

section {
    width: 960px;
    margin: 40px auto;
    background-color: #FAFAFA;
    height: 600px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
}

section img {
    height: 650px;
    position: relative;
    top: -3px;
}

.product-description {
    flex-basis: 50%;
}

h1 {
    color: #9E9E9E;
    text-transform: uppercase;
    margin-top: 40px;
    font-size: 2.3rem;
    text-align: right;
    margin-bottom: 0;
    width: 88%;
}

h2 {
    text-align: right;
    color: #777;
    font-size: 2rem;
    margin-top: 0;
    width: 88%;
}

div {
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
}

div.name {
    display: block;
}

form {
    margin-top: 60px;
}

input {
    background: none;
    border: none;
    border-bottom: 2px solid #575757;
    padding: 15px 0 15px 50px;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    margin-right: 30px;
}

.fa {
    font-size: 1.5rem;
    position: absolute;
    left: 0px;
    top: 15px;
    color: #575757;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9E9E9E;
    text-transform: uppercase;
    font-size: 1rem;
}

input[type="submit"] {
    background-color: #535E66;
    color: #fff;
    border-radius: 40px;
    padding: 10px 35px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2rem;
    display: block;
    margin-top: 40px;
    margin-left: 280px;
}




